node_modules/**/*
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
bin
screenshots
firestore-debug.log
ios/ipa
android/fastlane/client_id.json
android/apk
report.xml
.env
.env.development
.env.product
yarn-error.log
google-services.json
google-services.development.json
google-services.product.json
app.json
config/development.json
config/product.json
coverage
src/lib/system/firebase/index.ts
App.tsx
web-build
storybook/storyLoader.js
GoogleService-Info.development.plist
GoogleService-Info.product.plist
GoogleService-Info.plist

go.mod
go.sum