node_modules/**/*
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
bin
screenshots
firestore-debug.log
ios/ipa
android/fastlane/client_id.json
android/apk
report.xml
.env
.env.development
.env.product
yarn-error.log
google-services.json
google-services.development.json
google-services.product.json
app.json
config/development.json
config/product.json
